# Banco (Supabase + Prisma)
DIRECT_URL="postgresql://postgres:[SENHA]@db.[PROJECT-REF].supabase.co:5432/postgres"
DATABASE_URL="postgresql://postgres.[PROJECT-REF]:[SENHA]@aws-1-us-west-2.pooler.supabase.com:5432/postgres?connection_limit=1"

# Auth (Supabase)
NEXT_PUBLIC_SUPABASE_URL="https://[PROJECT-REF].supabase.co"
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY="sb_publishable_..."
SUPABASE_SERVICE_ROLE_KEY="sb_secret_..."
