*.iml
.gradle/
/local.properties
/.idea/
.DS_Store
/build/
/captures/
/app/build/
/core/build/
/desktop/build/
/app/release/
/release/
*.apk
*.msi
*.ap_
*.aab
*.dex
*.class
*.log
.cxx/
.externalNativeBuild/
.kotlin/
/keystore.properties
*.jks
*.keystore
